.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.leftPanel {
  background-color: #d9d9d9;
  height: 100vh;
  padding: 5px;
  width: 15vw;
}

.leftPanelHeading {
  text-align: center;
}

.frame {
  align-items: center;
  background-color: #696969;
  display: flex;
  justify-content: center;
  width: 70vw;
}
